<div class="background-block" *ngIf="isVisible" (click)="isVisible = false"></div>
<div class="filterable-list" prismListNavigation>
  <prism-input placeholder="{{placeholder}}"
               [(ngModel)]="query"
               (ngModelChange)="isVisible = true"
               (keydown.arrowdown)="isVisible = true"
               (keydown.arrowup)="isVisible = true"
               (click)="isVisible = true"
               #input></prism-input>

  <section *ngIf="hideList ? isVisible : true"
           class="content nowrap"
           [ngClass]="{'list-on-top'    : openList === 'top',
                       'list-on-bottom' : openList === 'bottom'}">

    <prism-list>
      <prism-list-item *ngIf="allowNewItem && (items | filter:queryKey:query).length === 0"
                       [label] = "query + ' (new)'"
                       (click)="newItemSelected()">
      </prism-list-item>
      <prism-list-item *ngFor="let item of items | filter:queryKey:query; index as i"
                       [label]="!!queryKey ? item[queryKey] : item"
                       (click)="itemSelected(item)">
      </prism-list-item>
    </prism-list>
  </section>
</div>

