<div class="row disable-padding prism-filter" (keyup)="onKeyPress($event)" tabindex="1">
  <div class="background-block"
       [ngClass]="{'hidden' : !_addingNewFilter}"
       (click)="resetNewFilter()">
  </div>
  <!-- Selected filters -->
  <div class="item">
    <ul class="selectedFilters row" *ngIf="_selectedFilters.length > 0">
      <li class="item" *ngFor="let item of _selectedFilters; index as i">
        <div class="row disable-padding">
        <label class="item selectedFieldName">{{item.field.label}}</label>
        <span class="item selectedFieldValue">
          <div class="row disable-padding v-center">
            <label class="item">{{item.value}}</label>
            <button class="item remove" (click)="removeFilter(i)">
              <!--<img src="../../../assets/delete-micro.svg" alt="">-->
            </button>
          </div>
        </span>
        </div>
      </li>
    </ul>
  </div>

  <!-- New filter -->
  <div class="item auto-width" prismToggle>
    <button class="add" (click)="addNewFilter()" *ngIf="!_addingNewFilter" #toggleButton>
     <!-- <img src="../../../assets/add-filter.svg" alt="">-->
    </button>
    <section class="content" #toggleContent>
      <prism-filterable-list class="fieldNamesList" *ngIf="_addingNewFilter && !_newFilterField"
                             [items]="_filtersList" [focus]="true" [queryKey]="'label'"
                             (onItemSelected)="selectFieldForNewFilter($event)">
      </prism-filterable-list>
      <div class="row disable-padding v-start nowrap fieldValues" *ngIf="_addingNewFilter && !!_newFilterField">
        <label class="item selectedField">{{_newFilterField.label}}</label>
        <prism-filterable-list class="item"
                               [items]="_filtersValues" [focus]="true"
                               (onItemSelected)="selectValueForNewFilter($event)">
        </prism-filterable-list>
      </div>
    </section>
  </div>
</div>
