<div class="container disable-padding">
  <header class="row h-space-between v-center">
    <div class="item flex-direction-row v-center">
      <span class="brand"></span>
      <span>Visual Test Coverage</span>
    </div>
    <div class="item">
      <ul class="row v-center disable-padding">
        <li class="item header-button disable-padding v-center h-center">
          <prism-checkbox [(toggleVariable)]="showCoverage" [flavor]="'toggle-round'"></prism-checkbox>
        </li>
        <li class="item"><prism-color-picker [colors]="colors"></prism-color-picker></li>
      </ul>
    </div>
  </header>
  <main class="row flex-direction-col disable-padding">
    <prism-dropdown class="item" [selectedIndex]="0">
      <prism-list>
        <prism-list-item *ngFor="let preset of coveragePresets"
                         [label]="preset.label"
                         (click)="onPresetSelected(preset)">
        <span class="coverage-icon">
          <span class="production" [ngClass]="preset.options.production ? '' : 'disabled'"></span>
          <span class="testing">
            <span class="manual" [ngClass]="preset.options.manual ? '' : 'disabled'"></span>
            <span class="automation" [ngClass]="preset.options.automation ? '' : 'disabled'"></span>
          </span>
        </span>
        </prism-list-item>
      </prism-list>
    </prism-dropdown>

    <span class="settings-title item">Settings</span>
    <div class="setting item" *ngFor="let setting of coverageSettings">
      <div class="setting-header row h-space-between no-padding no-margin v-center">
        <prism-checkbox class="item" [text]="setting.text" [(toggleVariable)]="selectedPreset.options[setting.stateField]"></prism-checkbox>
        <div class="row v-center" *ngIf="selectedPreset.options[setting.stateField]">
          <prism-checkbox class="item v-center"
                          text="{{selectedPreset.coverage[setting.stateField] ? 'Covered' : 'Not Covered'}}"
                          textDirection="left"
                          [(toggleVariable)]="selectedPreset.coverage[setting.stateField]"
                          [flavor]="'toggle-square'">

          </prism-checkbox>
        </div>

      </div>
      <div class="setting-filters row v-center">
        <div class="item"  *ngIf="selectedPreset.options[setting.stateField]">
          <prism-filter class="item" [filtersList]="filtersList" [filterValues]="filtersCurrentValues"
                        [selectedFilters]="selectedPreset.filters[setting.stateField]"
                        (onNewFilter)="getFieldsList()"
                        (onFieldSelected)="onFieldSelected($event)"
                        (onFiltersChanged)="onFiltersChanged($event)"></prism-filter>
        </div>
      </div>
    </div>

  </main>
  <footer class="row v-center">
    <recording class="container disable-padding"></recording>
  </footer>
</div>



