<!--<div class="dropdown-container container disable-padding v-stretch" prismToggle role="combobox" aria-expanded="true">-->
<div class="dropdown-container container disable-padding v-stretch" role="combobox" aria-expanded="true">
  <!--<div class="background-block" #showWhenOpened #toggleOffButton></div>-->
  <div class="background-block" *ngIf="isOpened" (click)="toggleTo(false)"></div>

  <!--<div class="dropdown-toggle row disable-padding disable-margin v-center nowrap" #toggleButton prismTabbableInput-->
  <div class="dropdown-toggle row disable-padding disable-margin v-center nowrap"
       prismTabbableInput
       (click)="toggle()">

    <span *ngIf="!selectedElement" class="item ellipsis auto-width">{{displayedLabel}}</span>
    <!--<span *ngIf="!!selectedElement">-->
    <span *ngIf="!!selectedElement" [innerHTML]="selectedElement"
          class="item auto-width ellipsis flex-direction-row nowrap">
    </span>

    <div class="item h-center">
      <!--<span class="toggle-button toggle-button-down" #showWhenClosed></span>-->
      <!--<span class="toggle-button toggle-button-up" #showWhenOpened></span>-->
      <span class="toggle-button toggle-button-down" *ngIf="!isOpened"></span>
      <span class="toggle-button toggle-button-up" *ngIf="isOpened"></span>
    </div>
  </div>
  <!--<div class="content nowrap" #toggleContent #toggleOffButton>-->
  <div class="content nowrap" *ngIf="isOpened" (click)="toggleTo(false)">
    <ng-content></ng-content>
  </div>
</div>
