<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <nav>
    <div class="left">
      <h1><span class="brand"><img src="./assets/icon.png" alt=""></span>Visual Test Coverage</h1>
    </div>
    <div class="right">
      <ul class="buttons">
        <li (click)="showCoverage = !showCoverage">
          <span class="toggle-btn" [ngClass]="showCoverage ? 'checked' : ''"></span>
          <!--<span class="checkbox" [ngClass]="showCoverage ? 'checked' : ''"></span>-->
        </li>
        <li class="drop-selection" (mouseleave)="colorToggle = false">
          <div (click)="colorToggle = !colorToggle">
            <span class="color-option" [ngStyle]="{'background-color': selectedColor}"></span>
            <span class="caret"></span>
          </div>
          <ul class="options" [ngStyle]="{'display': colorToggle ? 'block' : 'none'}">
            <li *ngFor="let color of highlightColors" (click)="selectedColor = color; colorToggle = false">
              <span class="color-option" [ngStyle]="{'background-color': color, 'color': color}"
                    [ngClass]="color === selectedColor ? 'selected' : ''"></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="presets-dropdown" (mouseleave)="coverageToggle = false">
      <p (click)="coverageToggle = !coverageToggle">
        <span class="coverage-icon">
          <span class="production" [ngClass]="selectedPreset.options.production ? '' : 'disabled'"></span>
          <span class="testing">
            <span class="manual" [ngClass]="selectedPreset.options.manual ? '' : 'disabled'"></span>
            <span class="automation" [ngClass]="selectedPreset.options.automation ? '' : 'disabled'"></span>
          </span>
        </span>
        <span>{{selectedPreset.label}}</span>
        <span class="caret"></span>
      </p>

      <ul class="options" [ngStyle]="{'display': coverageToggle ? 'block' : 'none'}">
        <li *ngFor="let preset of coveragePresets" (click)="selectedPreset = preset; coverageToggle = !coverageToggle">
          <p>
            <span class="coverage-icon">
              <span class="production" [ngClass]="preset.options.production ? '' : 'disabled'"></span>
              <span class="testing">
                <span class="manual" [ngClass]="preset.options.manual ? '' : 'disabled'"></span>
                <span class="automation" [ngClass]="preset.options.automation ? '' : 'disabled'"></span>
              </span>
            </span>
            <span>{{preset.label}}</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="settings">
      Settings
      <div class="setting">
        <p class="header">
          <span class="checkbox" [ngClass]="selectedPreset.options.manual ? 'checked' : ''"></span>
          <span>Manual Tests</span>
        </p>
        <div class="filters"></div>
      </div>
      <div class="setting">
        <p class="header">
          <span class="checkbox" [ngClass]="selectedPreset.options.automation ? 'checked' : ''"></span>
          <span>Automated Tests</span>
        </p>
        <div class="filters"></div>
      </div>
      <div class="setting">
        <p class="header">
          <span class="checkbox" [ngClass]="selectedPreset.options.production ? 'checked' : ''"></span>
          <span>Production Usage</span>
        </p>
        <div class="filters"></div>
      </div>
    </div>
  </main>


  <footer>
    <button class="block">
      <span class="color-option red"></span>
      <span>Start recoding clicks</span>
    </button>
  </footer>
</div>
